@page "/DailyNews"
@using InvestmentCalculator.WebApp.Services
@using InvestmentPredictor.Core.DTOs
@using InvestmentPredictor.Core
@inject IMarketNewsService NewsService

<PageTitle>Daily Market News</PageTitle>


<h1>Daily Market News</h1>

@if (newsList == null)
{
    <p><em>Loading market insights...</em></p>
}
else if (!newsList.Any())
{
    <p>No new market updates found at the moment.</p>
}
else
{
    <div class="news-container">
        @foreach (var article in newsList)
        {
           
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    <p class="card-text">@article.Summary</p>
                    <p class="sentiment-score">@article.SentimentScore</p>
                    <p class="text-muted small">Published: @article.TimePublished</p>
                    <a href="@article.Url" target="_blank" class="btn btn-primary">Read more</a>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<NewsArticles>? newsList;
    
    protected override async Task OnInitializedAsync()
    {
        
        newsList = (await NewsService.GetMarketNewsAsync()).OrderByDescending( x => x.SentimentScore).ToList();
		

    }
}